%section.content-header.some( style='padding: 10px 15px !important;' )
    %h1 Projects

    .box.box-primary
        .box-header
            %i.fa.fa-list.some( style='padding-top: 6px;' )
            %h3.box-title.some( style='padding-top: 6px;' )
                List
                = link_to 'Add new Project', new_project_path, class: 'btn btn-success pull-right'
        .panel-body.table-responsive
            %table#projects-table.table-stripped.table.table-bordered
                %thead
                    %tr
                        %th S:No
                        %th Project Title
                        %th Description
                        %th Github Link
                        %th Actions
                %tbody
                    - if @projects.any?
                        - @projects.each_with_index do |project, i|
                            %tr
                                %td= i+1
                                %td= link_to project.title, project
                                %td= truncate(project.description, length: 100)
                                %td= project.link
                                %td
                                    = link_to 'Edit', edit_project_path(project), class: 'btn btn-info btn-xs'
                                    = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure to delete the user?' }, class: 'btn btn-danger btn-xs'
                    - else
                        %tr
                            %td.some(colspan = '5') No Projects Found
                        