= simple_form_for [@project, @bug], html: { multipart: true } do |f|
    .field
        = f.input :title, autofocus: true, autocomplete: 'title'
    .field
        = f.input :description, autocomplete: 'description'
    .field
        = f.label :bug_type, 'Bug Type'
        %br/
        = f.collection_select :bug_type, t('types'), :first, :last, {:prompt => 'Select a Type'}, autocomplete: 'bug_type', class: 'form-control'
    %br.field
        = f.input :deadline, autocomplete: 'deadline'
    .field
        = f.input :attachment, autocomplete: 'attachment'
    
    .field
        = f.button :submit, class: 'btn btn-success'
    = f.hidden_field :project_id, value: @project.id